.container{
  &.canzoni{
    margin-top: 80px;
    .row{
      .col-12{
        .card-list{
          @include  flex-row-wrap-cc;
          padding: 0 10%;
          .card{
            border: 0px;
            background-color: black;
            .card-info{
              max-width: 240px;
              .copertina{
                img{
                  height: 200px;
                  width: 200px;
                  border: 0px;
                  margin: 20px 20px;
                  border: 3px solid white;
                }
              }
              p{
                margin: 0 20px;
                color: white;
                &.title{

                }
                &.autore{

                }
              }
            }
          }
        }
      }
    }
  }
}
